################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GorevYonetimSistemi.Proje/Site/WebForm2.aspx.designer.cs
